
body {
    font-family: 'Roboto', sans-serif !important;
}
.bl {
  color: #007BFF;
}

@media screen and (min-width: 576px) {
  .cards {
    display: flex;  
    margin: 5vh 0;
   
  }
}

@media screen and (max-width: 575px) {
  .card {
    margin: 5vh 0;
  }
}

footer{
  color: #6C757D;
  background-color: #F5F5F5;
  padding: 3vh 0;
}

.allo{
   
    margin-bottom: 5vh;
}